<%- include('partials/header.ejs') %>
        
<%- include('partials/main.ejs') %>

<h1>Welcome to <%= title%></h1> 

    <main>

        <td><img class="profilepic" src="/img/Realstate.png" alt="Camilo's logo" style="border-radius: 50%;"></td>
        <td style="width: 200%;">

        <ul class="service-list">
            <li>Frontend Development</li>
            <li>Backend Development</li>
            <li>API Integration & Development</li>
            <li>Database Design & Management</li>
            <li>Cloud Infrastructure Setup</li>
            <li>Mobile App Development</li>
            <li>Performance Optimization</li>
            <li>Continuous Integration & Deployment</li>
            <li>Testing & QA</li>
            <li>Maintenance & Support</li>
            <li>Project Management</li>
            <li>Business Analysis</li>
            <li>Banking & Retail Software Solutions</li>
            <li>Hospitality Software Development</li>
        </ul>
    </main>


<%- include('partials/bottom.ejs') %>
<%- include('partials/footer.ejs') %>
